@page
@model IndexModel
@{
    ViewData["Hillerød Sejlklub"] = "Hjemmeside";
}

<div class="text-center">
    <h1 class="display-4">Hillerød sejlklub</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
